<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567909171824-gs5pdbramlutqc6ovvful2dfuvtof173.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567909171824-gs5pdbramlutqc6ovvful2dfuvtof173</string>
	<key>API_KEY</key>
	<string>AIzaSyBPOpQm2Ln8IsrZz_RRGd-O5vsng3dfTBY</string>
	<key>GCM_SENDER_ID</key>
	<string>567909171824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jusang.whatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-35549</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-35549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567909171824:ios:0955a65953f467fee36ab5</string>
</dict>
</plist>